# **Indian Start-up Funding Analysis (2018 - 2021)**

## Importing all necessary modules

In [246]:
import pyodbc
from dotenv import dotenv_values
import pandas as pd
import numpy as np
import re
import warnings

warnings. filterwarnings('ignore')

## **Data Loading**

### loading from csv files

In [247]:
# Loading 2018 funds data
data_2018 = pd.read_csv('data\startup_funding2018.csv')

# Data preview
data_2018.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [248]:
# Loading 2019 funds data
data_2019 = pd.read_csv('data\startup_funding2019.csv')

# Data preview
data_2019.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

### Loading from the database

In [249]:
# Loading environment variables from .env file
environment_variables = dotenv_values('.env')

# Getting the values for the credentials set in the .env' file
server = environment_variables.get("SERVER")
database = environment_variables.get("DATABASE")
username = environment_variables.get("USERNAME")
password = environment_variables.get("PASSWORD")

# Creating a connection string
connection_string = f"DRIVER={{SQL Server}}; \
                    SERVER={server}; \
                    DATABASE={database}; \
                    UID={username}; \
                    PWD={password};"

# Connecting to the server
connection = pyodbc.connect(connection_string)

OperationalError: ('08001', '[08001] [Microsoft][ODBC SQL Server Driver][DBNETLIB]SQL Server does not exist or access denied. (17) (SQLDriverConnect); [08001] [Microsoft][ODBC SQL Server Driver][DBNETLIB]ConnectionOpen (Connect()). (53)')

In [ ]:
# Loading 2020 funds data
data_2020 = pd.read_sql_query(
    "SELECT * FROM LP1_startup_funding2020", connection)

# Saving the DataFrame to a CSV file
data_2020.to_csv('data/startup_funding2020.csv', index=False)

data_2020.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [ ]:
# Loading 2021 funds data
data_2021 = pd.read_sql_query(
    "SELECT * FROM LP1_startup_funding2021", connection)

# Saving the DataFrame to a CSV file
data_2021.to_csv('data/startup_funding2021.csv', index=False)

# Data preview
data_2021.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

## **Data information**

In [ ]:
data_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

In [ ]:
data_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [ ]:
data_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.6+ KB

In [ ]:
data_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

In [ ]:
data_2018.shape, data_2019.shape, data_2020.shape, data_2021.shape

((526, 6), (89, 9), (1055, 10), (1209, 9))

## **Data Cleaning**

### Columns

In [ ]:
def standardize_column_names(df):
    # Creating a mapping based on common patterns found in the column names
    df.columns = [re.sub(r'(?i)^Company.*Name$', 'Company_Brand', col)
                  for col in df.columns]
    df.columns = [re.sub(r'(?i)^Amount.*$', 'Amount', col)
                  for col in df.columns]
    df.columns = [re.sub(r'(?i)^What.*does$', 'What_it_does', col)
                  for col in df.columns]
    df.columns = [re.sub(r'(?i)^Industry$', 'Sector', col)
                  for col in df.columns]
    df.columns = [re.sub(r'(?i)^Round.*Series$', 'Stage', col)
                  for col in df.columns]
    df.columns = [re.sub(r'(?i)^Location$', 'HeadQuarter', col)
                  for col in df.columns]
    df.columns = [re.sub(r'(?i)^About.*Company$', 'What_it_does', col)
                  for col in df.columns]
    return df


# Applying the function to standardize names
data_2018 = standardize_column_names(data_2018)
data_2019 = standardize_column_names(data_2019)
data_2020 = standardize_column_names(data_2020)
data_2021 = standardize_column_names(data_2021)

# Ensuring all DataFrames have the same set of columns
columns = ['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
           'Founders', 'Investor', 'Amount', 'Stage', 'Fund_Year',]

# Add a new column 'Fund_Year' to each DataFrame
data_2018['Fund_Year'] = 2018
data_2019['Fund_Year'] = 2019
data_2020['Fund_Year'] = 2020
data_2021['Fund_Year'] = 2021

data_2018 = data_2018.reindex(columns=columns, fill_value=None)
data_2019 = data_2019.reindex(columns=columns)
data_2020 = data_2020.reindex(columns=columns)
data_2021 = data_2021.reindex(columns=columns)

# Merging all DataFrames
data = pd.concat([data_2018, data_2019, data_2020,
                 data_2021], ignore_index=True)

# Saving the DataFrame to a CSV file
data.to_csv('data/startup_funding_merged.csv', index=False)

# info of the combined DataFrame
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  2790 non-null   object
 1   Founded        2110 non-null   float64
 2   HeadQuarter    2765 non-null   object
 3   Sector         2861 non-null   object
 4   What_it_does   2879 non-null   object
 5   Founders       2334 non-null   object
 6   Investor       2253 non-null   object
 7   Amount         2622 non-null   object
 8   Stage          1941 non-null   object
 9   Fund_Year      2879 non-null   int64
dtypes: float64(1), int64(1), object(8)
memory usage: 225.1+ KB

In [250]:
data = pd.read_csv('data\startup_funding_merged.csv')
data.shape

(2879, 10)

### Duplicates

In [251]:
data.duplicated().sum()

23

In [252]:
data = data.drop_duplicates()

### Company_Brand, Founded, What_it_does & Investors

In [253]:
# Trimming white spaces and standardize text format to title case for 'Company_Brand'
data['Company_Brand'] = data['Company_Brand'].str.strip().str.title()

# Checking for null values in 'Company_Brand'
null_company_brand = data['Company_Brand'].isnull().sum()

# Replacing null values in 'Company_Brand' with the placeholder "Unknown"
data['Company_Brand'].fillna('Unknown', inplace=True)

# Replacing null values in 'Founded' with the median year and ensuring all entries are integers
median_year = data['Founded'].median()
data['Founded'].fillna(median_year, inplace=True)
data['Founded'] = data['Founded'].astype(int)

# Trimming white spaces and standardize text format to lower case for 'What_it_does'
data['What_it_does'] = data['What_it_does'].str.strip().str.lower()

# Trimming white spaces and standardize text format to title case for 'Founders'
data['Founders'] = data['Founders'].str.strip().str.title()

# Filling null values in 'Founders' with 'Unknown'
data['Founders'].fillna('Unknown', inplace=True)

# Trimming white spaces and standardize text format to title case for 'Investor'
data['Investor'] = data['Investor'].str.strip().str.title()

# Filling null values in 'Investor' with 'Undisclosed'
data['Investor'].fillna('Undisclosed', inplace=True)

### Headquarter

In [254]:
# Function to simplify and standardize headquarters
def standardize_headquarters(hq):
    if pd.isna(hq):
        return "Unknown"              # Filling null values with a placeholder
    city = hq.split(',')[0].strip()   # Simplifying the entry to city name only
    return city.title()               # Converting to title case

data['HeadQuarter'] = data['HeadQuarter'].apply(standardize_headquarters)

# Check the unique values after cleaning
data['HeadQuarter'].unique()

array(['Bangalore', 'Mumbai', 'Gurgaon', 'Noida', 'Hyderabad',
       'Bengaluru', 'Kalkaji', 'Delhi', 'India', 'Hubli', 'New Delhi',
       'Chennai', 'Mohali', 'Kolkata', 'Pune', 'Jodhpur', 'Kanpur',
       'Ahmedabad', 'Azadpur', 'Haryana', 'Cochin', 'Faridabad', 'Jaipur',
       'Kota', 'Anand', 'Bangalore City', 'Belgaum', 'Thane', 'Margão',
       'Indore', 'Alwar', 'Kannur', 'Trivandrum', 'Ernakulam',
       'Kormangala', 'Uttar Pradesh', 'Andheri', 'Mylapore', 'Ghaziabad',
       'Kochi', 'Powai', 'Guntur', 'Kalpakkam', 'Bhopal', 'Coimbatore',
       'Worli', 'Alleppey', 'Chandigarh', 'Guindy', 'Lucknow', 'Unknown',
       'Telangana', 'Gurugram', 'Surat', 'Rajasthan', 'Tirunelveli',
       'Singapore', 'Gujarat', 'Kerala', 'Frisco', 'California',
       'Dhingsara', 'New York', 'Patna', 'San Francisco', 'San Ramon',
       'Paris', 'Plano', 'Sydney', 'San Francisco Bay Area', 'Bangaldesh',
       'London', 'Milano', 'Palmwoods', 'France', 'Samastipur', 'Irvine',
       'Tumkur', 'Newcastle Upon Tyne', 'Shanghai', 'Jiaxing', 'Rajastan',
       'Ludhiana', 'Dehradun', 'San Franciscao', 'Tangerang', 'Berlin',
       'Seattle', 'Riyadh', 'Seoul', 'Bangkok', 'Warangal', 'Hyderebad',
       'Odisha', 'Bihar', 'Goa', 'Tamil Nadu', 'Banglore', 'Ahmadabad',
       'Small Towns', 'Rajsamand', 'Ranchi', 'Computer Games', 'Vadodara',
       'Food & Beverages', 'Pharmaceuticals\t#Ref!', 'Gurugram\t#Ref!',
       'Nagpur', 'West Bengal', 'Samsitpur', 'Silvassa',
       'Thiruvananthapuram', 'Roorkee', 'Ambernath', 'Panchkula',
       'Mangalore', 'Telugana', 'Bhubaneswar', 'Kottayam', 'Beijing',
       'Panaji', 'Satara', 'Orissia', 'Santra', 'Mountain View',
       'Jharkhand', 'Bhilwara', 'Guwahati', 'Online Media\t#Ref!',
       'Information Technology & Services', 'The Nilgiris', 'Gandhinagar'],
      dtype=object)

In [255]:
# Listing irrelevant entries 
irrelevant_entries = ['Computer Games', 'Food & Beverages',
                      'Online Media', 'Information Technology & Services']

# Mapping of common misspellings or variations to standardized city names
city_corrections = {
    'Bangalore City': 'Bangalore',
    'Bengaluru': 'Bangalore',
    'Gurugram': 'Gurgaon',
    'Noida': 'Noida',
    'Hyderebad': 'Hyderabad',
    'Banglore': 'Bangalore',
    'Ahmadabad': 'Ahmedabad',
    'Rajastan': 'Rajasthan',
    'San Franciscao': 'San Francisco',
    'San Francisco Bay Area': 'San Francisco',
    'Telugana': 'Telangana'
}

# Removing "\t#Ref!" from any entries
data['HeadQuarter'] = data['HeadQuarter'].replace(
    to_replace=r'\t#Ref!', value='', regex=True)


def correct_city_names(city):
    if city in irrelevant_entries:
        return "Unknown"  # Changing to "Unknown" for irrelevant categories
    return city_corrections.get(city, city)

data['HeadQuarter'] = data['HeadQuarter'].apply(correct_city_names)

# Verify the corrections 
data['HeadQuarter'].unique()

array(['Bangalore', 'Mumbai', 'Gurgaon', 'Noida', 'Hyderabad', 'Kalkaji',
       'Delhi', 'India', 'Hubli', 'New Delhi', 'Chennai', 'Mohali',
       'Kolkata', 'Pune', 'Jodhpur', 'Kanpur', 'Ahmedabad', 'Azadpur',
       'Haryana', 'Cochin', 'Faridabad', 'Jaipur', 'Kota', 'Anand',
       'Belgaum', 'Thane', 'Margão', 'Indore', 'Alwar', 'Kannur',
       'Trivandrum', 'Ernakulam', 'Kormangala', 'Uttar Pradesh',
       'Andheri', 'Mylapore', 'Ghaziabad', 'Kochi', 'Powai', 'Guntur',
       'Kalpakkam', 'Bhopal', 'Coimbatore', 'Worli', 'Alleppey',
       'Chandigarh', 'Guindy', 'Lucknow', 'Unknown', 'Telangana', 'Surat',
       'Rajasthan', 'Tirunelveli', 'Singapore', 'Gujarat', 'Kerala',
       'Frisco', 'California', 'Dhingsara', 'New York', 'Patna',
       'San Francisco', 'San Ramon', 'Paris', 'Plano', 'Sydney',
       'Bangaldesh', 'London', 'Milano', 'Palmwoods', 'France',
       'Samastipur', 'Irvine', 'Tumkur', 'Newcastle Upon Tyne',
       'Shanghai', 'Jiaxing', 'Ludhiana', 'Dehradun', 'Tangerang',
       'Berlin', 'Seattle', 'Riyadh', 'Seoul', 'Bangkok', 'Warangal',
       'Odisha', 'Bihar', 'Goa', 'Tamil Nadu', 'Small Towns', 'Rajsamand',
       'Ranchi', 'Vadodara', 'Pharmaceuticals', 'Nagpur', 'West Bengal',
       'Samsitpur', 'Silvassa', 'Thiruvananthapuram', 'Roorkee',
       'Ambernath', 'Panchkula', 'Mangalore', 'Bhubaneswar', 'Kottayam',
       'Beijing', 'Panaji', 'Satara', 'Orissia', 'Santra',
       'Mountain View', 'Jharkhand', 'Bhilwara', 'Guwahati',
       'The Nilgiris', 'Gandhinagar'], dtype=object)

### Amount

In [260]:
# Define conversion rates for each year
conversion_rates = {
    2018: 0.01482,
    2019: 0.01434,
    2020: 0.01331,
    2021: 0.01378
}

# Optimized function to clean and convert Amount values
def clean_amount(amount, year):
    # Ensure the amount is treated as a string
    if pd.isnull(amount):
        return 0
    amount = str(amount).strip()
    # Handle specific non-numeric strings
    if amount in ['-', '—', '--', 'Undisclosed', 'Undisclosed ']:
        return 0
    # Remove currency symbols and commas
    amount = amount.replace(',', '').replace('$', '').replace('₹', '')
    try:
        # Convert based on year if it's in rupees
        if '₹' in amount:
            return float(amount) * conversion_rates[year]
        # Otherwise, assume it's already in dollars
        return float(amount)
    except ValueError:
        # If conversion fails, return 0
        return 0

# Apply the cleaning function to the Amount column
data['Amount'] = data.apply(lambda row: clean_amount(
    row['Amount'], row['Fund_Year']), axis=1)

### Stage

In [262]:
data['Stage'].unique()

array(['Seed', 'Series A', 'Angel', 'Series B', 'Pre-Seed',
       'Private Equity', 'Venture - Series Unknown', 'Grant',
       'Debt Financing', 'Post-IPO Debt', 'Series H', 'Series C',
       'Series E', 'Corporate Round', 'Undisclosed',
       'https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593',
       'Series D', 'Secondary Market', 'Post-IPO Equity',
       'Non-equity Assistance', 'Funding Round', nan, 'Fresh funding',
       'Pre series A', 'Series G', 'Post series A', 'Seed funding',
       'Seed fund', 'Series F', 'Series B+', 'Seed round', 'Pre-series A',
       'Pre-seed', 'Pre-series', 'Debt', 'Pre-series C', 'Pre-series B',
       'Bridge', 'Series B2', 'Pre- series A', 'Edge', 'Pre-Series B',
       'Seed A', 'Series A-1', 'Seed Funding', 'Pre-seed Round',
       'Seed Round & Series A', 'Pre Series A', 'Pre seed Round',
       'Angel Round', 'Pre series A1', 'Series E2', 'Seed Round',
       'Bridge Round', 'Pre seed round', 'Pre series B', 'Pre series C',
       'Seed Investment', 'Series D1', 'Mid series', 'Series C, D',
       '$1200000', 'Seed+', 'Series F2', 'Series A+', 'Series B3', 'PE',
       'Series F1', 'Pre-series A1', '$300000', 'Early seed', '$6000000',
       '$1000000', 'Seies A', 'Series A2', 'Series I'], dtype=object)

In [263]:
data['Stage'].isnull().sum()

929

In [264]:
# Dictionary for mapping stages to standardized terms
stage_mapping = {
    r'(?i)^angel$': 'Pre-Seed',
    r'(?i)^seed (funding|fund|round|investment|a|\+)?$': 'Seed',
    r'(?i)^pre[-\s]?seed( round)?$': 'Pre-Seed',
    r'(?i)^pre[-\s]?series[-\s]?a1?$': 'Pre-Series A',
    r'(?i)^pre[-\s]?series[-\s]?a$': 'Pre-Series A',
    r'(?i)^pre- series a$': 'Pre-Series A',
    r'(?i)^pre[-\s]?series[-\s]?b$': 'Pre-Series B',
    r'(?i)^pre[-\s]?series[-\s]?c$': 'Pre-Series C',
    r'(?i)^early seed$': 'Pre-Seed',
    r'(?i)^series a[-\s]?[1+2]?$': 'Series A',
    r'(?i)^series b[-\s]?[+2-3]?$': 'Series B',
    r'(?i)^series c, d$': 'Series C',
    r'(?i)^series d1$': 'Series D',
    r'(?i)^series e2$': 'Series E',
    r'(?i)^series f[1-2]?$': 'Series F',
    r'(?i)^venture - series unknown$': 'Venture',
    r'(?i)^post series a$': 'Post-Series A',
    r'(?i)^non-equity assistance$': 'Other',
    r'(?i)^corporate round$': 'Other',
    r'(?i)^bridge( round)?$': 'Other',
    r'(?i)^private equity$': 'PE',
    r'(?i)^secondary market$': 'Other',
    r'(?i)^debt financing$': 'Debt',
    r'(?i)^post-ipo (debt|equity)$': 'Post-IPO',
    r'(?i)^undisclosed$': 'Other',
    r'(?i)^funding round$': 'Other',
    r'(?i)^fresh funding$': 'Other',
    r'(?i)^mid series$': 'Other',
    r'(?i)^edge$': 'Other',
    r'(?i)^grant$': 'Grant',
    r'(?i)^seies a$': 'Series A',
    r'(?i)^pre[-\s]?series$': 'Pre-Seed',
    r'(?i)^angel round$': 'Pre-Seed',
    r'(?i)^seed round & series a$': 'Seed',
    r'(?i)^series i$': 'Series I'
}

# Applying the mappings using regular expressions
for pattern, replacement in stage_mapping.items():
    data['Stage'] = data['Stage'].str.replace(pattern, replacement, regex=True)

data['Stage'] = data['Stage'].str.replace(r'(?i)seed\+', 'Seed', regex=True)

# Replacing numeric and erroneous entries with 'Unknown'
data['Stage'] = data['Stage'].replace(
    r'\$\d+', 'Unknown', regex=True)  # Catch dollar amounts
data['Stage'] = data['Stage'].replace(
    r'https?://\S+', 'Unknown', regex=True)  # Catch URLs

# Handle NaN values
data['Stage'].fillna('Unknown', inplace=True)


data['Stage'].unique()

array(['Seed', 'Series A', 'Pre-Seed', 'Series B', 'PE', 'Venture',
       'Grant', 'Debt', 'Post-IPO', 'Series H', 'Series C', 'Series E',
       'Other', 'Unknown', 'Series D', 'Pre-Series A', 'Series G',
       'Post-Series A', 'Series F', 'Pre-Series C', 'Pre-Series B',
       'Series I'], dtype=object)

### Sector

In [265]:
# Comprehensive mappings and sector categories (redefined here for completeness)
comprehensive_mappings = {
    'fintech': 'financial services', 'credit': 'financial services', 'lending': 'financial services',
    'saas': 'software as a service', 'ecommerce': 'e-commerce', 'ecommerce platforms': 'e-commerce',
    'retail': 'e-commerce', 'marketing': 'brand marketing', 'event promotion': 'brand marketing',
    'tech': 'technology', 'tech company': 'technology', 'tech platform': 'technology',
    'tech startup': 'technology', 'cloud computing computer saas software': 'software as a service',
    'software company': 'software', 'software startup': 'software',
    'cloud computing computer software': 'software', 'cloud computing enterprise software': 'software',
    'cloud infrastructure paas saas': 'software as a service', 'edtech': 'education',
    'elearning': 'education', 'higher education': 'education', 'health care': 'health & wellness',
    'wellness': 'health & wellness', 'medical': 'health & wellness', 'healthcare services': 'health & wellness',
    'social commerce': 'e-commerce', 'social ecommerce': 'e-commerce', 'online portals': 'e-commerce',
    'startup': 'startups', 'startup laboratory': 'startups', 'real estate': 'property',
    'commercial real estate': 'property', 'coworking': 'property',
    'communities coworking incubators': 'property', 'commercial real estate coworking office administration real estate': 'property',
    'transport': 'transportation', 'transport automation': 'transportation', 'transport rentals': 'transportation',
    'travel tech': 'travel', 'travel saas': 'travel', 'traveltech': 'travel', 'virtual banking': 'financial services',
    'banking': 'financial services', 'ai': 'artificial intelligence'
}
sector_categories = {
    'Technology': ['artificial intelligence', 'cloud computing', 'software', 'software as a service'],
    'E-commerce': ['e-commerce', 'social commerce', 'online portals'],
    'Fintech': ['financial services'],
    'Healthcare': ['health & wellness'],
    'Education': ['education'],
    'Real Estate': ['property'],
    'Transportation': ['transportation'],
    'Travel': ['travel'],
    'Startups': ['startups']
}


def clean_and_categorize(sector):
    if pd.isna(sector):
        return sector, 'Other'

    # Clean sector description
    sector = sector.lower()
    sector = re.sub(r'[^\w\s]', '', sector)
    sector = re.sub(r'\s+', ' ', sector).strip()

    # Apply mappings and categorize
    mapped_sector = comprehensive_mappings.get(sector, sector)
    for category, keywords in sector_categories.items():
        if any(keyword in mapped_sector for keyword in keywords):
            return mapped_sector, category
    return mapped_sector, 'Other'


# Apply cleaning and categorization function to the "Sector" column
data[['Sector', 'Category']] = data['Sector'].apply(
    lambda x: pd.Series(clean_and_categorize(x)))

# Mapping dictionary based on the user's specified categories
category_mapping = {
    'technology': ['software', 'ai', 'artificial intelligence', 'iot', 'internet of things', 'machine learning', 'tech', 'saas', 'cloud computing', 'software as a service', 'blockchain'],
    'e-commerce': ['e-commerce', 'online shopping', 'online market', 'online retail', 'ecommerce'],
    'fintech': ['fintech', 'digital payment', 'personal finance', 'insurtech', 'investment platform', 'banking', 'financial services'],
    'healthcare': ['telemedicine', 'biotechnology', 'pharmaceuticals', 'health analytics', 'health & wellness', 'medical', 'healthcare'],
    'education': ['edtech', 'e-learning', 'online courses', 'learning management system', 'educational technology'],
    'agriculture': ['agriculture', 'agritech', 'precision farming', 'farm management software'],
    'renewable energy': ['renewable energy', 'solar', 'wind energy', 'cleantech'],
    'food and beverages': ['food processing', 'health-centric products', 'food delivery', 'catering', 'food and beverage'],
    'mobility and transportation': ['electric vehicle', 'ride-sharing', 'logistics', 'transportation'],
    'retail': ['retail', 'virtual reality shopping', 'retail analytics', 'customer engagement'],
    'real estate': ['real estate', 'property management', 'real estate investment', 'virtual tours', 'property'],
    'manufacturing': ['digital manufacturing', 'robotics', 'manufacturing', 'supply chain optimization'],
    'tourism and hospitality': ['tourism', 'hospitality', 'travel tech', 'booking platform', 'experiential travel'],
    'media and entertainment': ['media', 'entertainment', 'digital media', 'streaming services', 'content creation', 'gaming'],
    'sports technology': ['sports', 'sports analytics', 'athlete performance tracking', 'fan engagement'],
    'beauty and wellness': ['beauty', 'cosmetics', 'wellness', 'wellness apps', 'personalized beauty solutions'],
    'legal tech': ['legal tech', 'legal processes', 'document management', 'client services'],
    'human resources': ['human resources', 'recruitment', 'employee engagement', 'performance management'],
    'cybersecurity': ['cybersecurity', 'network security', 'risk management'],
    'space technology': ['space technology', 'satellite communications', 'space exploration']
}


def map_sector_to_category(sector):
    if pd.isna(sector):
        return 'Other'  # Handle NaN values explicitly
    sector = sector.lower()
    for category, keywords in category_mapping.items():
        if any(keyword in sector for keyword in keywords):
            return category
    return 'Other'  # Default category if no match is found


# Apply the new mapping to the 'Sector' column
data['Category'] = data['Sector'].apply(map_sector_to_category)

# Update the mapping dictionary to incorporate the new adjustments
category_mapping.update({
    'media and entertainment': category_mapping['media and entertainment'] + ['advertising', 'marketing', 'digital marketing'],
    'mobility and transportation': category_mapping['mobility and transportation'] + ['automobile', 'automobiles', 'automotive', 'autonomous vehicles', 'aviation', 'aerospace'],
    'business services': ['b2b', 'advisory', 'consulting', 'service industry', 'business development'],
    'healthcare': category_mapping['healthcare'] + ['alternative medicine', 'mhealth', 'health apps', 'pharmaceutical apps'],
    'technology': category_mapping['technology'] + ['ar', 'vr', 'augmented reality', 'virtual reality', 'api platform']
})

# Function to map sectors to categories with updated mappings


def map_sector_to_updated_category(sector):
    if pd.isna(sector):
        return 'Other'
    sector = sector.lower()
    for category, keywords in category_mapping.items():
        if any(keyword in sector for keyword in keywords):
            return category
    return 'Other'


# Reapply the mapping to the 'Sector' column
data['Category'] = data['Sector'].apply(map_sector_to_updated_category)

# Update the category mapping dictionary to incorporate additional groupings
category_mapping.update({
    'accommodation and rental services': ['accommodation', 'bike rental', 'coliving', 'rental services'],
    'consumer goods and services': ['appliance', 'clothing', 'consumer electronics', 'consumer goods', 'eyeglasses'],
    'design and creative industries': ['design', 'deisgning', 'fashion', 'fashion and lifestyle'],
    'energy and environmental services': ['energy', 'energy storage', 'environmental service', 'environmental services'],
    'financial services': category_mapping['fintech'] + ['finance', 'finance company', 'digital mortgage', 'escrow'],
    'technology': category_mapping['technology'] + ['analytics', 'data analytics', 'data science', 'automation', 'drone', 'crypto', 'cryptocurrency']
})

# Reapply the updated mapping to further reduce the 'Other' category
data['Category'] = data['Sector'].apply(map_sector_to_updated_category)

# Update the category mapping dictionary to incorporate the latest insights
category_mapping.update({
    'consumer services': category_mapping.get('consumer services', []) + ['consumer service', 'consumer services', 'customer service company', 'customer service messaging', 'home services', 'health diagnostics', 'hospital services', 'hygiene management'],
    'education and training': category_mapping.get('education', []) + ['education', 'education management', 'children education online portals'],
    'events and entertainment': ['events', 'celebrity engagement', 'entertainment management', 'cultural events'],
    'food and beverages': category_mapping['food and beverages'] + ['beverage', 'beverages', 'food beverages', 'food production', 'food nutrition', 'food industry'],
    'technology and innovation': category_mapping['technology'] + ['apps', 'battery', 'electronics', 'data intelligence', 'emobility', 'innovation management'],
    'health and wellness': category_mapping.get('healthcare', []) + ['health', 'health and fitness', 'health diagnostics', 'health insurance'],
    'dating and social networking': ['dating', 'dating app', 'dating private social networking'],
    'e-commerce and retail': category_mapping['e-commerce'] + ['e store', 'econnect', 'commerce', 'd2c', 'd2c business']
})

# Function to map sectors to categories with updated mappings


def map_sector_to_final_category(sector):
    if pd.isna(sector):
        return 'Other'
    sector = sector.lower()
    for category, keywords in category_mapping.items():
        if any(keyword in sector for keyword in keywords):
            return category
    return 'Other'


# Reapply the mapping to the 'Sector' column to reduce the 'Other' category
data['Category'] = data['Sector'].apply(map_sector_to_final_category)

# Adjust the function to handle NaN values before applying text corrections


def correct_sector_misspellings(sector):
    if pd.isna(sector):
        return sector  # Return NaN as is
    corrections = {
        'accomodation': 'accommodation',
        'aeorspace': 'aerospace',
        'companyasaservice': 'company as a service',
        'entreprenurship': 'entrepreneurship',
        'estore': 'e-store',
        'food devlivery': 'food delivery'
    }
    sector = sector.lower()
    # Apply corrections
    for incorrect, correct in corrections.items():
        sector = sector.replace(incorrect, correct)
    return sector


# Reapply corrections to the 'Sector' column
data['Sector'] = data['Sector'].apply(correct_sector_misspellings)

# Reapply the mapping to the corrected 'Sector' column
data['Category'] = data['Sector'].apply(map_sector_to_final_category)

# Further refine the category mappings based on the additional analysis
category_mapping.update({
    'technology': category_mapping['technology'] + ['internet', 'mobile payments', 'mobile', 'it', 'digital platform', 'podcast', 'video communication', 'mobile games', 'video personalization'],
    'financial services': category_mapping['financial services'] + ['trading platform', 'wealth management', 'investment', 'investment management', 'venture capital', 'venture capital private equity'],
    'healthcare': category_mapping['healthcare'] + ['hospital', 'nutrition', 'fitness', 'health diagnostics', 'hygiene', 'life sciences'],
    'consumer services': category_mapping['consumer services'] + ['rental', 'housing', 'housing rentals', 'consultancy', 'home decor', 'home interior services', 'furniture', 'furniture rental'],
    'media and entertainment': category_mapping['media and entertainment'] + ['music streaming', 'music', 'social audio', 'content publishing', 'social platform', 'blogging', 'publication', 'podcast'],
    'events and entertainment': category_mapping['events and entertainment'] + ['wedding', 'matrimony', 'events', 'cultural'],
    'food and beverages': category_mapping['food and beverages'] + ['craft beer', 'food diet'],
    'legal services': ['legal', 'legal services', 'legal processes'],
    'real estate': category_mapping['real estate'] + ['interior decor', 'housing'],
    'transportation': category_mapping['mobility and transportation'] + ['ev', 'mobilitytransport', 'micromobiity'],
    'business services': category_mapping['business services'] + ['business supplies equipment', 'crm', 'customer service company', 'customer service messaging', 'consultancy', 'company as a service', 'product studio', 'staffing recruiting'],
    'renewable energy': category_mapping['renewable energy'] + ['renewables environment', 'water purification', 'pollution control equipment'],
    'education and training': category_mapping['education and training'] + ['job discovery platform', 'skill development', 'online storytelling'],
    'consumer goods': category_mapping['consumer goods and services'] + ['furniture rental', 'merchandise', 'textiles', 'fmcg']
})

# Reapply the mapping to the corrected 'Sector' column
data['Category'] = data['Sector'].apply(map_sector_to_final_category)

# Further refine the category mappings based on the additional analysis
category_mapping.update({
    'technology': category_mapping['technology'] + [
        'cloud company', 'video streaming platform', 'scanning app', 'video platform', 'video', 'computer games',
        'mlops platform', 'networking platform', 'networking', 'telecommunication', 'telecommunications', 'online financial service', 'information services'
    ],
    'financial services': category_mapping['financial services'] + [
        'insurance', 'mutual funds', 'wl rac protection', 'taxation'
    ],
    'media and entertainment': category_mapping['media and entertainment'] + [
        'video', 'video streaming platform', 'video platform', 'fm', 'multinational conglomerate company', 'social network', 'ott', 'sochcast is an audio experiences company that give the listener and creators an immersive audio experience'
    ],
    'business services': category_mapping['business services'] + [
        'packaging services', 'work fulfillment', 'sales services', 'sales and distribution', 'entrepreneurship', 'job portal', 'content management'
    ],
    'consumer goods': category_mapping['consumer goods'] + [
        'consumer', 'jewellery', 'lifestyle', 'wholesale', 'tobacco', 'hauz khas', 'delivery service', 'pollution control equipment', 'fishery', 'mechanical or industrial engineering'
    ],
    'healthcare': category_mapping['healthcare'] + ['medical'],
    'real estate': category_mapping['real estate'] + [
        'housing', 'nano distribution network', 'home interior services', 'interior decor'
    ],
    'events and entertainment': category_mapping['events and entertainment'] + [
        'games', 'advertisement', 'defense space', 'nft', 'content publishing', 'advertisement'
    ],
    'energy and environmental services': category_mapping['energy and environmental services'] + [
        'renewable player', 'pollution control equipment'
    ]
})

# Reapply the mapping to the corrected 'Sector' column
data['Category'] = data['Sector'].apply(map_sector_to_final_category)

# Function to correct the remaining misspellings and standardize terms within the sectors


def correct_final_sector_misspellings(sector):
    corrections = {
        'telecommuncation': 'telecommunication',
        'pollution control equiptment': 'pollution control equipment'
    }
    if pd.isna(sector):
        return sector  # Return NaN as is
    sector = sector.lower()
    # Apply corrections
    for incorrect, correct in corrections.items():
        sector = sector.replace(incorrect, correct)
    return sector


# Reapply corrections to the 'Sector' column
data['Sector'] = data['Sector'].apply(correct_final_sector_misspellings)

# Expand categories to accommodate remaining sectors
category_mapping.update({
    'technology': category_mapping['technology'] + ['crowdsourcing'],
    'transportation': category_mapping['mobility and transportation'] + ['tyre management'],
    'aerospace': ['aero company'],
    'construction': ['construction'],
    'human resources': category_mapping['human resources'] + ['hr'],
    'e-commerce': category_mapping['e-commerce'] + ['e-store'],
    'mechanical engineering': ['mechanical industrial engineering'],
    'travel': ['travel'],
    'pollution control': ['pollution control equipment'],
    'localization services': ['translation localization'],
    'regional': ['manchester greater manchester']
})

# Reapply the mapping to the corrected 'Sector' column
data['Category'] = data['Sector'].apply(map_sector_to_final_category)

# Replace empty values in the 'Sector' column with 'Unknown'
data['Sector'].fillna('Unknown', inplace=True)

# Reapply the mapping to the 'Sector' column after replacing empty values
data['Category'] = data['Sector'].apply(map_sector_to_final_category)

# Function to re-categorize the remaining sectors in 'Other'


def finalize_other_category(sector):
    if sector == 'food':
        return 'food and beverages'
    elif sector == 'ev':
        return 'mobility and transportation'
    elif sector == '' or sector == 'unknown':
        return 'Other'
    return sector


# Apply final adjustments to the 'Sector' column
data['Sector'] = data['Sector'].apply(finalize_other_category)

# Reapply the mapping to the 'Sector' column after final adjustments
data['Category'] = data['Sector'].apply(map_sector_to_final_category)

# Function to merge small categories into broader ones


def merge_small_categories(category):
    if category == 'manufacturing':
        return 'technology'
    elif category == 'e-commerce and retail':
        return 'e-commerce'
    elif category == 'health and wellness':
        return 'healthcare'
    elif category == 'energy and environmental services':
        return 'renewable energy'
    elif category == 'accommodation and rental services':
        return 'real estate'
    elif category == 'construction':
        return 'real estate'
    elif category == 'tourism and hospitality':
        return 'travel'
    elif category == 'dating and social networking':
        return 'media and entertainment'
    elif category == 'legal services':
        return 'business services'
    elif category == 'agriculture':
        return 'food and beverages'
    elif category == 'aerospace':
        return 'technology'
    elif category == 'transportation':
        return 'mobility and transportation'
    elif category == 'mechanical engineering':
        return 'technology'
    elif category == 'localization services':
        return 'business services'
    elif category == 'regional':
        return 'Other'
    return category


# Apply the merging function to the 'Category' column
data['Category'] = data['Category'].apply(merge_small_categories)

# Check the updated distribution of categories after merging small categories
final_category_counts_after_merging_small = data['Category'].value_counts()
final_remaining_other_sectors = data[data['Category']
                                     == 'Other']['Sector'].dropna().unique()

final_category_counts_after_merging_small, final_remaining_other_sectors

(Category
 technology                        1354
 fintech                            360
 education and training             262
 e-commerce                         159
 mobility and transportation        112
 media and entertainment            106
 food and beverages                 104
 Other                               49
 business services                   39
 real estate                         39
 consumer goods and services         37
 financial services                  36
 design and creative industries      34
 beauty and wellness                 33
 renewable energy                    22
 consumer services                   20
 healthcare                          16
 travel                              15
 consumer goods                      15
 sports technology                   12
 technology and innovation           12
 events and entertainment            10
 human resources                     10
 Name: count, dtype: int64,
 array(['other', 'Other', 'manchester greater manchester'], dtype=object))

### Finalizing

In [268]:
# Saving the DataFrame to a CSV file
data.to_csv('data/cleaned_startup_funding.csv', index=False)

## **Business Questions**

### 1. The year-on-year growth in total funding received by Indian start-ups from 2018 to 2021