# **Indian Start-up Funding Analysis (2018 - 2021)**

## Importing all necessary modules

In [107]:
import pyodbc
from dotenv import dotenv_values
import pandas as pd
import numpy as np
import re
import warnings

warnings. filterwarnings('ignore')

## Data Loading

### loading from csv files

In [108]:
# Loading 2018 funds data
data_2018 = pd.read_csv('data\startup_funding2018.csv')

# Data preview
data_2018.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [109]:
# Loading 2019 funds data
data_2019 = pd.read_csv('data\startup_funding2019.csv')

# Data preview
data_2019.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

### Loading from the database

In [110]:
# Loading environment variables from .env file
environment_variables = dotenv_values('.env')

# Getting the values for the credentials set in the .env' file
server = environment_variables.get("SERVER")
database = environment_variables.get("DATABASE")
username = environment_variables.get("USERNAME")
password = environment_variables.get("PASSWORD")

# Creating a connection string
connection_string = f"DRIVER={{SQL Server}}; \
                    SERVER={server}; \
                    DATABASE={database}; \
                    UID={username}; \
                    PWD={password};"

# Connecting to the server
connection = pyodbc.connect(connection_string)

In [111]:
# Loading 2020 funds data
data_2020 = pd.read_sql_query(
    "SELECT * FROM LP1_startup_funding2020", connection)

# Saving the DataFrame to a CSV file
data_2020.to_csv('data/startup_funding2020.csv', index=False)

data_2020.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [112]:
# Loading 2021 funds data
data_2021 = pd.read_sql_query(
    "SELECT * FROM LP1_startup_funding2021", connection)

# Saving the DataFrame to a CSV file
data_2021.to_csv('data/startup_funding2021.csv', index=False)

# Data preview
data_2021.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

## Data information

In [113]:
data_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

In [114]:
data_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [115]:
data_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.6+ KB

In [116]:
data_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

In [117]:
data_2018.shape, data_2019.shape, data_2020.shape, data_2021.shape

((526, 6), (89, 9), (1055, 10), (1209, 9))

## Data Cleaning

### Columns

In [118]:
def standardize_column_names(df):
    # Creating a mapping based on common patterns found in the column names
    df.columns = [re.sub(r'(?i)^Company.*Name$', 'Company_Brand', col)
                  for col in df.columns]
    df.columns = [re.sub(r'(?i)^Amount.*$', 'Amount', col)
                  for col in df.columns]
    df.columns = [re.sub(r'(?i)^What.*does$', 'What_it_does', col)
                  for col in df.columns]
    df.columns = [re.sub(r'(?i)^Industry$', 'Sector', col)
                  for col in df.columns]
    df.columns = [re.sub(r'(?i)^Round.*Series$', 'Stage', col)
                  for col in df.columns]
    df.columns = [re.sub(r'(?i)^Location$', 'HeadQuarter', col)
                  for col in df.columns]
    df.columns = [re.sub(r'(?i)^About.*Company$', 'What_it_does', col)
                  for col in df.columns]
    return df


# Applying the function to standardize names
data_2018 = standardize_column_names(data_2018)
data_2019 = standardize_column_names(data_2019)
data_2020 = standardize_column_names(data_2020)
data_2021 = standardize_column_names(data_2021)

# Ensuring all DataFrames have the same set of columns
columns = ['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
           'Founders', 'Investor', 'Amount', 'Stage', 'Fund_Year',]

# Add a new column 'Fund_Year' to each DataFrame
data_2018['Fund_Year'] = 2018
data_2019['Fund_Year'] = 2019
data_2020['Fund_Year'] = 2020
data_2021['Fund_Year'] = 2021

data_2018 = data_2018.reindex(columns=columns, fill_value=None)
data_2019 = data_2019.reindex(columns=columns)
data_2020 = data_2020.reindex(columns=columns)
data_2021 = data_2021.reindex(columns=columns)

# Merging all DataFrames
data = pd.concat([data_2018, data_2019, data_2020,
                 data_2021], ignore_index=True)

# Saving the DataFrame to a CSV file
data.to_csv('data/startup_funding_merged.csv', index=False)

# info of the combined DataFrame
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  2790 non-null   object
 1   Founded        2110 non-null   float64
 2   HeadQuarter    2765 non-null   object
 3   Sector         2861 non-null   object
 4   What_it_does   2879 non-null   object
 5   Founders       2334 non-null   object
 6   Investor       2253 non-null   object
 7   Amount         2622 non-null   object
 8   Stage          1941 non-null   object
 9   Fund_Year      2879 non-null   int64
dtypes: float64(1), int64(1), object(8)
memory usage: 225.1+ KB

In [119]:
data = pd.read_csv('data\startup_funding_merged.csv')
data.shape

(2879, 10)

### Duplicates

In [120]:
data.duplicated().sum()

23

In [121]:
data = data.drop_duplicates()

In [122]:
data

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,Fund_Year
0,TheCollegeFever,NaN,"Bangalore, Karnataka, India","Brand Marketing, Event Promotion, Marketing, S...","TheCollegeFever is a hub for fun, fiesta and f...",NaN,NaN,250000,Seed,2018
1,Happy Cow Dairy,NaN,"Mumbai, Maharashtra, India","Agriculture, Farming",A startup which aggregates milk from dairy far...,NaN,NaN,"₹40,000,000",Seed,2018
2,MyLoanCare,NaN,"Gurgaon, Haryana, India","Credit, Financial Services, Lending, Marketplace",Leading Online Loans Marketplace in India,NaN,NaN,"₹65,000,000",Series A,2018
3,PayMe India,NaN,"Noida, Uttar Pradesh, India","Financial Services, FinTech",PayMe India is an innovative FinTech organizat...,NaN,NaN,2000000,Angel,2018
4,Eunimart,NaN,"Hyderabad, Andhra Pradesh, India","E-Commerce Platforms, Retail, SaaS",Eunimart is a one stop solution for merchants ...,NaN,NaN,—,Seed,2018
...,...,...,...,...,...,...,...,...,...,...
2874,Gigforce,2019.0,Gurugram,Staffing & Recruiting,A gig/on-demand staffing company.,"Chirag Mittal, Anirudh Syal",Endiya Partners,$3000000,Pre-series A,2021
2875,Vahdam,2015.0,New Delhi,Food & Beverages,VAHDAM is among the world’s first vertically i...,Bala Sarda,IIFL AMC,$20000000,Series D,2021
2876,Leap Finance,2019.0,Bangalore,Financial Services,International education loans for high potenti...,"Arnav Kumar, Vaibhav Singh",Owl Ventures,$55000000,Series C,2021
2877,CollegeDekho,2015.0,Gurugram,EdTech,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Winter Capital, ETS, Man Capital",$26000000,Series B,2021
2878,WeRize,2019.0,Bangalore,Financial Services,India’s first socially distributed full stack ...,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital",$8000000,Series A,2021

### Company_Brand

In [123]:
# Trim white spaces and standardize text format to title case
data['Company_Brand'] = data['Company_Brand'].str.strip().str.title()

# checking for null values
data['Company_Brand'].isnull().sum()

89

In [124]:
# Replacing null values with the placeholder "Unknown"
data['Company_Brand'].fillna('Unknown', inplace=True)

### Founded

In [125]:
# Replacing null values with the median year
median_year = data['Founded'].median()
data['Founded'].fillna(median_year, inplace=True)

# Ensuring all entries are integers
data['Founded'] = data['Founded'].astype(int)

### Headquarter

In [126]:
# Function to simplify and standardize headquarters
def standardize_headquarters(hq):
    if pd.isna(hq):
        return "Unknown"              # Filling null values with a placeholder
    city = hq.split(',')[0].strip()   # Simplifying the entry to city name only
    return city.title()               # Converting to title case

data['HeadQuarter'] = data['HeadQuarter'].apply(standardize_headquarters)

# Check the unique values after cleaning
data['HeadQuarter'].unique()

array(['Bangalore', 'Mumbai', 'Gurgaon', 'Noida', 'Hyderabad',
       'Bengaluru', 'Kalkaji', 'Delhi', 'India', 'Hubli', 'New Delhi',
       'Chennai', 'Mohali', 'Kolkata', 'Pune', 'Jodhpur', 'Kanpur',
       'Ahmedabad', 'Azadpur', 'Haryana', 'Cochin', 'Faridabad', 'Jaipur',
       'Kota', 'Anand', 'Bangalore City', 'Belgaum', 'Thane', 'Margão',
       'Indore', 'Alwar', 'Kannur', 'Trivandrum', 'Ernakulam',
       'Kormangala', 'Uttar Pradesh', 'Andheri', 'Mylapore', 'Ghaziabad',
       'Kochi', 'Powai', 'Guntur', 'Kalpakkam', 'Bhopal', 'Coimbatore',
       'Worli', 'Alleppey', 'Chandigarh', 'Guindy', 'Lucknow', 'Unknown',
       'Telangana', 'Gurugram', 'Surat', 'Rajasthan', 'Tirunelveli',
       'Singapore', 'Gujarat', 'Kerala', 'Frisco', 'California',
       'Dhingsara', 'New York', 'Patna', 'San Francisco', 'San Ramon',
       'Paris', 'Plano', 'Sydney', 'San Francisco Bay Area', 'Bangaldesh',
       'London', 'Milano', 'Palmwoods', 'France', 'Samastipur', 'Irvine',
       'Tumkur', 'Newcastle Upon Tyne', 'Shanghai', 'Jiaxing', 'Rajastan',
       'Ludhiana', 'Dehradun', 'San Franciscao', 'Tangerang', 'Berlin',
       'Seattle', 'Riyadh', 'Seoul', 'Bangkok', 'Warangal', 'Hyderebad',
       'Odisha', 'Bihar', 'Goa', 'Tamil Nadu', 'Banglore', 'Ahmadabad',
       'Small Towns', 'Rajsamand', 'Ranchi', 'Computer Games', 'Vadodara',
       'Food & Beverages', 'Pharmaceuticals\t#Ref!', 'Gurugram\t#Ref!',
       'Nagpur', 'West Bengal', 'Samsitpur', 'Silvassa',
       'Thiruvananthapuram', 'Roorkee', 'Ambernath', 'Panchkula',
       'Mangalore', 'Telugana', 'Bhubaneswar', 'Kottayam', 'Beijing',
       'Panaji', 'Satara', 'Orissia', 'Santra', 'Mountain View',
       'Jharkhand', 'Bhilwara', 'Guwahati', 'Online Media\t#Ref!',
       'Information Technology & Services', 'The Nilgiris', 'Gandhinagar'],
      dtype=object)

In [127]:
# Listing irrelevant entries 
irrelevant_entries = ['Computer Games', 'Food & Beverages',
                      'Online Media', 'Information Technology & Services']

# Mapping of common misspellings or variations to standardized city names
city_corrections = {
    'Bangalore City': 'Bangalore',
    'Bengaluru': 'Bangalore',
    'Gurugram': 'Gurgaon',
    'Noida': 'Noida',
    'Hyderebad': 'Hyderabad',
    'Banglore': 'Bangalore',
    'Ahmadabad': 'Ahmedabad',
    'Rajastan': 'Rajasthan',
    'San Franciscao': 'San Francisco',
    'San Francisco Bay Area': 'San Francisco',
    'Telugana': 'Telangana'
}

# Removing "\t#Ref!" from any entries
data['HeadQuarter'] = data['HeadQuarter'].replace(
    to_replace=r'\t#Ref!', value='', regex=True)


def correct_city_names(city):
    if city in irrelevant_entries:
        return "Unknown"  # Changing to "Unknown" for irrelevant categories
    return city_corrections.get(city, city)

data['HeadQuarter'] = data['HeadQuarter'].apply(correct_city_names)

# Verify the corrections 
data['HeadQuarter'].unique()

array(['Bangalore', 'Mumbai', 'Gurgaon', 'Noida', 'Hyderabad', 'Kalkaji',
       'Delhi', 'India', 'Hubli', 'New Delhi', 'Chennai', 'Mohali',
       'Kolkata', 'Pune', 'Jodhpur', 'Kanpur', 'Ahmedabad', 'Azadpur',
       'Haryana', 'Cochin', 'Faridabad', 'Jaipur', 'Kota', 'Anand',
       'Belgaum', 'Thane', 'Margão', 'Indore', 'Alwar', 'Kannur',
       'Trivandrum', 'Ernakulam', 'Kormangala', 'Uttar Pradesh',
       'Andheri', 'Mylapore', 'Ghaziabad', 'Kochi', 'Powai', 'Guntur',
       'Kalpakkam', 'Bhopal', 'Coimbatore', 'Worli', 'Alleppey',
       'Chandigarh', 'Guindy', 'Lucknow', 'Unknown', 'Telangana', 'Surat',
       'Rajasthan', 'Tirunelveli', 'Singapore', 'Gujarat', 'Kerala',
       'Frisco', 'California', 'Dhingsara', 'New York', 'Patna',
       'San Francisco', 'San Ramon', 'Paris', 'Plano', 'Sydney',
       'Bangaldesh', 'London', 'Milano', 'Palmwoods', 'France',
       'Samastipur', 'Irvine', 'Tumkur', 'Newcastle Upon Tyne',
       'Shanghai', 'Jiaxing', 'Ludhiana', 'Dehradun', 'Tangerang',
       'Berlin', 'Seattle', 'Riyadh', 'Seoul', 'Bangkok', 'Warangal',
       'Odisha', 'Bihar', 'Goa', 'Tamil Nadu', 'Small Towns', 'Rajsamand',
       'Ranchi', 'Vadodara', 'Pharmaceuticals', 'Nagpur', 'West Bengal',
       'Samsitpur', 'Silvassa', 'Thiruvananthapuram', 'Roorkee',
       'Ambernath', 'Panchkula', 'Mangalore', 'Bhubaneswar', 'Kottayam',
       'Beijing', 'Panaji', 'Satara', 'Orissia', 'Santra',
       'Mountain View', 'Jharkhand', 'Bhilwara', 'Guwahati',
       'The Nilgiris', 'Gandhinagar'], dtype=object)

### Sectors

In [128]:
# Converting all entries to lower case
data['Sector'] = data['Sector'].str.lower()

category_dict = {
    'Finance': set(['Credit Cards', 'Banking','Insuretech','Infratech','Saas\xa0\xa0Startup', 'Equity Management','Wealth Management','Saas  Startup','Insurtech','Crowdsourcing','Cryptocurrency','Online Financial Service', 'Neo-Banking', 'Capital Markets', 'Mutual Funds','Bank', 'Finance', 'Crypto', 'Account', 'Credit', 'Venture', 'Crowd', 'Blockchain', 'Fund', 'Lending', 'Trading', 'Wealth', 'Insurance', 'Remittance', 'Money', 'Equity', 'Investment', 'Mortgage', 'Financial Services', 'Nft', 'Payments']),
    'Agriculture': set(['Agritech','Agriculture', 'Soil-Tech','Fishery','Agri', 'Biotechnology', 'Industrial', 'Farming', 'Fish', 'Milk', 'Diary', 'Dairy', 'Dairy Startup']),
    'Technology': set(['Machine Learning','Hrtech','Ar/Vr','Technology','Ai', 'E-Connect','E-Market', 'Traveltech','Biotech','Medtech','Ad-Tech','Healthtech', 'Games', 'Computer & Network Security', 'Saas Startup', 'Scanning App', 'Cloud Company', 'Cybersecurity', 'Aero Company', 'Cloud Computing', 'Techonology', 'E-Learning', 'Content Management', 'Recruitment', 'Consultancy', 'Ecommerce', 'Ev', 'Designing', 'Networking', 'Product Studio', 'Ecommerce', 'Proptech', 'Techonology', 'Milk Startup', 'Craft Beer', 'Craft Beer', 'Online Credit Management Startup', 'Foodtech', 'Spacetech', 'Deisgning', 'Clothing', 'Logitech', 'Femtech', 'D2C', 'Skill Development', 'Martech', 'Luxury Car Startup', 'Emobility', 'It', 'Healthcare', 'Qsr Startup', 'Sportstech', 'E-Marketplace', 'Cleantech', 'Heathtech', 'Digital Mortgage', 'Innovation Management', 'Photonics Startup', 'Life Sciences', 'Cloud Kitchen', 'Content Marktplace', 'Vehicle Repair Startup', 'Photonics Startup', 'Nano Distribution Network','Artificial Intelligence', 'Fintech', 'Tech', 'Cloud', 'Artificial', 'Data', 'Internet', 'Things', 'Apps', 'Android', 'Software', 'Computer', 'Mobile', '3d Printing', 'Funding Platform', 'Applications', 'File', 'Embedded Systems', 'Portals', 'Fraud Detection', 'Search Engine', 'Nanotechnology', 'Security', 'Saas', 'Bit Company', 'Augmented Reality', 'Drone', 'Ar Startup', ']baas', 'App', '/', 'Virtual', 'It Startup', 'Photonics', 'E Tailor', 'Bai', 'Ai & Debt', 'Ai Company', 'Ai Chatbot', 'Iot Startup', 'Ai Startup', 'Iot', 'Social Platform', 'Ar Platform', 'Api Platform', 'Mlops Platform', 'Online Storytelling', 'Digital Platform', 'Paas Startup', 'Taas Startup', 'Digital Assistant']),
    'Food & Beverage': set(['Food & Beverage', 'Beverages', 'Foodtech', 'Craft Beer', 'Milk Startup','Beverage', 'Catering', 'Cook', 'Food', 'Restaurants']),
    'Transport': set(['Auto-Tech', 'Tyre Management', 'Automobiles','Automobile', 'E-Mobility', 'Autonomous Vehicles', 'Vehicle Repair Startup','Automotive', 'Air Transport', 'Transport', 'Logistics', 'Vehicle', 'Transportation', 'Aviation', 'Vehicles', 'Tyre', 'Fleet', 'Wheels', 'Aero', 'Mobility', 'Aeorspace', 'Wl & Rac Protection', 'Micro-Mobiity', 'Delivery Service']),
    'Business Intelligence': set(['Business Intelligence','Data Science','Analytics', 'Consulting', 'Human', 'Career', 'Erp', 'Advertising', 'Advertisement', 'Market Research', 'Entrepre', 'Recruit', 'Hr', 'Working', 'Sultancy', 'Advisory', 'Work', 'Job', 'Management', 'Skill', 'Legal', 'Crm', 'Specific Domain To Individuals', 'Information Services']),
    'Energy': set(['Renewables & Environment', 'Renewable Player','Electric Vehicle', 'Pollution Control Equiptment', 'Cleantech','Clean Energy', 'Energy', 'Boil &', 'Boil', 'Solar', 'Electricity', 'Environment']),
    'Hospitality': set(['Hospitality','Customer Service','Home Services', 'E Store','Customer Service Company', 'Co-Working', 'Accomodation', 'Cloud Kitchen','Customer', 'Hospital', 'Tourism', 'Events', 'Wedding', 'Travel', 'Hosts', 'Booking', 'Wedding', 'Qsr']),
    'Commerce': set(['Trading Platform','Consumer','Supply Chain Platform','B2B','Business Supplies & Equipment','Fmcg','E-Tail','Entreprenurship','Car Trade', 'Reatil Startup','E-Mobility','Estore', 'Capital Markets','E-Commerce', 'Sales & Services','Sales And Distribution', 'Estore', 'Retail Startup', 'Packaging Services', 'E-Marketplace','2', 'Trade', 'Enterprise', 'Commerce', 'Business', 'Commercial', 'Consumer Goods', 'Marketplace', 'Business Consumer', 'Marketing', 'Retail', 'Market', 'Store', 'Furniture', 'Wholesale', 'Wine & Spirits', 'Multinational', 'E-', 'Packaging', 'Sales', 'Tplace', 'Warehouse', 'Fm', 'Product', 'Merchandise', 'Reatil', 'Conglomerates', 'Invoice Discounting', 'Supply Chain', 'Car Service', 'Service Industry', 'Company-As-A-Service', 'Consumer Service', 'Facilities Support Services', 'Facilities Services']),
    'Manufacturing': set(['Mechanical & Industrial Engineering', 'Packaging Solution Startup', 'Manufacturing', 'Home Interior Services', 'Craft Beer', 'Product Studio', 'Luxury Car Startup', 'Mechanical Or Industrial Engineering','Battery', 'Manufacturing', 'Electronics', 'Industrial Automation', 'Aerospace', 'Conductor', 'Gaming', 'Robotics', 'Engineering', 'Mechanical', 'Appliance', 'Automation', 'Ev Startup', 'Startup Laboratory', 'E-Vehicle', 'Luxury Car']),
    'Media and Entertainment': set(['Media and Entertainment', 'Games', 'E-Sports', 'Celebrity Engagement', 'Content Creation', 'Virtual Auditing Startup', 'Content Marktplace','Media', 'Dating', 'Music', 'Audio', 'Gaming', 'Creative', 'Entertainment', 'Broadcasting', 'Video', 'Blogging', 'Content', 'Celebrity', 'Ott']),
    'Real Estate': set(['Commercial Real Estate',  'Interior & Decor', 'Co-Living','Apartment', 'Real Estate', 'Home', 'Interior', 'Construction', 'Rental', 'Housing', 'Accommodation', 'Hauz']),
    'Telecommunications': set(['Telecommunications','Telecommuncation','Telecommunication','Telecom', 'News', 'Escrow', 'Publication']),
    'Health': set(['Healthtech', 'Healthcare','Pharmaceuticals','Pharmaceuticals', 'Healtcare','Pharmaceutical','Pharmacy', 'Helathcare', 'Medical', 'Healthtech','Dental', 'Health', 'Health Insurance', 'Medic', 'Supplement', 'Biopharma', 'Veterinary', 'Pharma', 'Heathcare', 'Nutrition', 'Hygiene', 'Care', 'Sanitation', 'Bio', 'Cannabis', 'Tobacco', 'Sciences']),
    'Sports & Fitness': set(['Sports & Fitness', 'Sportstech','Sports', 'Esports', 'Game', 'Ball', 'Player', 'Manchester']),
    'Beauty and Fashion': set(['Skincare Startup', 'Foootwear','Eye Wear', 'Personal Care Startup', 'Beauty and Fashion', 'Clothing','Beauty', 'Cosmetic', 'Skincare', 'Fashion', 'Wear', 'Cosmetics', 'Textiles', 'Eyewear', 'Jewellery', 'Cloth', 'Eyeglasses']),
    'Government': set(['Defense & Space', 'Government', 'Advisory Firm','Communities', 'Smart Cities', 'Government', 'Classifieds', 'Community', 'Water', 'Defense', 'Pollution', 'Translation & Localization', 'Taxation', 'Maritime']),
    'Education': set(['E-Learning', 'EduTech','Edttech', 'E-Learning', 'Skill Development', 'E-Learning', 'Job Discovery Platform', 'E-Learning', 'Preschool Daycare', 'E-Learning', 'E-Learning','Edutech', 'Education', 'Learn', 'Edtech']),
    'NaN': set(['Nan','-', 'nan','NaN','—', None]),
    'LifeStyle': set(['LifeStyle', 'Lifestyle','Decor', 'Fitness','Home Decor','Arts & Crafts', 'Training', 'Wellness', 'Personal Care', 'Deisgn', 'Craft', 'Design', 'Podcast', 'Lifestyle', 'Spiritual', 'Matrimony', 'Living', 'Cultural', 'Home']),
    'Others': set([ 'Water Purification','Job Portal','Social Audio','Others','Cannabis Startup','Staffing & Recruiting','Human Resources','Venture Capital','Multinational Conglomerate Company','Venture Capitalist','Hauz Khas','Social Network','Coworking', 'Biomaterial Startup',  'Environmental Service',  'Content Publishing', 'Legaltech', 'Environmental Services', 'Data Intelligence', 'Work Fulfillment', 'Pet Care',  'Deeptech',  'Martech',  'Photonics Startup', 'Sanitation Solutions',   'Mutual Funds'])
}

### What_it_does

In [129]:
# Trim white spaces and standardize text format to title case
data['What_it_does'] = data['What_it_does'].str.strip().str.lower()

### Founders

In [130]:
# Trim white spaces and standardize text format to title case
data['Founders'] = data['Founders'].str.strip().str.title()

# Filling null values  with 'Unknown'
data['Founders'].fillna('Unknown', inplace=True)

### Investors

In [131]:
# Trim white spaces and standardize text format to title case
data['Investor'] = data['Investor'].str.strip().str.title()

# Filling null values  with 'Undisclosed' 
data['Investor'].fillna('Undisclosed', inplace=True)

### Amount

In [139]:
data

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,Fund_Year
0,Thecollegefever,2017,Bangalore,"brand marketing, event promotion, marketing, s...","thecollegefever is a hub for fun, fiesta and f...",Unknown,Undisclosed,250000,Seed,2018
1,Happy Cow Dairy,2017,Mumbai,"agriculture, farming",a startup which aggregates milk from dairy far...,Unknown,Undisclosed,"₹40,000,000",Seed,2018
2,Myloancare,2017,Gurgaon,"credit, financial services, lending, marketplace",leading online loans marketplace in india,Unknown,Undisclosed,"₹65,000,000",Series A,2018
3,Payme India,2017,Noida,"financial services, fintech",payme india is an innovative fintech organizat...,Unknown,Undisclosed,2000000,Pre-Seed,2018
4,Eunimart,2017,Hyderabad,"e-commerce platforms, retail, saas",eunimart is a one stop solution for merchants ...,Unknown,Undisclosed,—,Seed,2018
...,...,...,...,...,...,...,...,...,...,...
2874,Gigforce,2019,Gurgaon,staffing & recruiting,a gig/on-demand staffing company.,"Chirag Mittal, Anirudh Syal",Endiya Partners,$3000000,Pre-Series A,2021
2875,Vahdam,2015,New Delhi,food & beverages,vahdam is among the world’s first vertically i...,Bala Sarda,Iifl Amc,$20000000,Series D,2021
2876,Leap Finance,2019,Bangalore,financial services,international education loans for high potenti...,"Arnav Kumar, Vaibhav Singh",Owl Ventures,$55000000,Series C,2021
2877,Collegedekho,2015,Gurgaon,edtech,"collegedekho.com is student’s partner, friend ...",Ruchir Arora,"Winter Capital, Ets, Man Capital",$26000000,Series B,2021
2878,Werize,2019,Bangalore,financial services,india’s first socially distributed full stack ...,"Vishal Chopra, Himanshu Gupta","3One4 Capital, Kalaari Capital",$8000000,Series A,2021

In [133]:
data['Amount'].unique()

array(['250000', '₹40,000,000', '₹65,000,000', '2000000', '—', '1600000',
       '₹16,000,000', '₹50,000,000', '₹100,000,000', '150000', '1100000',
       '₹500,000', '6000000', '650000', '₹35,000,000', '₹64,000,000',
       '₹20,000,000', '1000000', '5000000', '4000000', '₹30,000,000',
       '2800000', '1700000', '1300000', '₹5,000,000', '₹12,500,000',
       '₹15,000,000', '500000', '₹104,000,000', '₹45,000,000', '13400000',
       '₹25,000,000', '₹26,400,000', '₹8,000,000', '₹60,000', '9000000',
       '100000', '20000', '120000', '₹34,000,000', '₹342,000,000',
       '$143,145', '₹600,000,000', '$742,000,000', '₹1,000,000,000',
       '₹2,000,000,000', '$3,980,000', '$10,000', '₹100,000',
       '₹250,000,000', '$1,000,000,000', '$7,000,000', '$35,000,000',
       '₹550,000,000', '$28,500,000', '$2,000,000', '₹240,000,000',
       '₹120,000,000', '$2,400,000', '$30,000,000', '₹2,500,000,000',
       '$23,000,000', '$150,000', '$11,000,000', '₹44,000,000',
       '$3,240,000', '₹60,000,000', '$540,000,000', '₹650,000,000',
       '₹1,600,000,000', '$900,000', '$10,000,000', '$1,500,000',
       '₹70,000,000', '$1,000,000', '$5,000,000', '$14,000,000',
       '₹102,500,000', '$100,000,000', '₹1,200,000', '₹5,200,000,000',
       '$800,000', '$1,041,000', '$100,000', '$15,000', '1400000',
       '1200000', '2200000', '1800000', '3600000', '₹9,500,000', '300000',
       '6830000', '200000', '₹150,000,000', '4300000', '364846', '400000',
       '1500000', '₹7,000,000', '₹1,400,000', '₹10,000,000',
       '₹22,500,000', '13200000', '50000', '₹140,200,000', '3000000',
       '1250000', '180000', '₹19,200,000', '₹103,000,000', '4200000',
       '175000', '1450000', '₹200,000', '4500000', '600000',
       '₹16,600,000', '₹12,000,000', '15000000', '₹33,000,000', '125000',
       '130000', '₹34,900,000', '₹72,000,000', '17200000', '₹32,000,000',
       '3500000', '₹135,000,000', '12000000', '$40,000,000', '$1,100,000',
       '$50,000,000', '₹1,540,000,000', '$3,000,000', '$6,000,000',
       '₹140,000,000', '$41,900,000', '₹1,410,000,000', '$3,530,000',
       '$200,000', '$3,300,000', '₹580,000,000', '₹36,000,000',
       '₹340,000,000', '$210,000,000', '$37,680,000', '$250,000',
       '$20,000', '₹510,000,000', '₹2,200,000,000', '22000000', '70000',
       '10000000', '₹15,392,000,000', '₹20,000,000,000', '₹4,000,000,000',
       '185000000', '65000000', '₹165,000,000', '700000', '30000000',
       '₹210,000,000', '210000000', '₹2,029,600,000', '75000000',
       '₹80,000,000', '1760000', '2700000', '₹280,000,000',
       '₹800,000,000', '750000', '2500000', '80000000', '25000000',
       '₹730,000,000', '₹400,000,000', '3700000', '5600000',
       '₹260,000,000', '99230000', '70000000', '40000', '550000',
       '50000000', '365000000', '₹8,750,000', '₹78,000,000', '28000000',
       '₹264,000,000', '100000000', '₹1,130,000,000', '₹810,000,000',
       '₹1,400,000,000', '14900000', '225000000', '7500', '35000000',
       '$6,300,000', '$150,000,000', '$28,000,000', 'Undisclosed',
       '$20,000,000', '$275,000,000', '$22,000,000', '$140,500',
       '$15,000,000', '$182,700', '$12,000,000', '$15,500,000',
       '$5,500,000', '$2,500,000', '$140,000', '$230,000,000',
       '$49,400,000', '$32,000,000', '$26,000,000', '$400,000',
       '$8,000,000', '$120,000,000', '$4,000,000', '$6,800,000',
       '$36,000,000', '$5,700,000', '$25,000,000', '$600,000',
       '$70,000,000', '$60,000,000', '$220,000', '$2,800,000',
       '$2,100,000', '$311,000,000', '$4,800,000', '$693,000,000',
       '$33,000,000', '200000.0', '100000.0', nan, '400000.0', '340000.0',
       '600000.0', '45000000.0', '1000000.0', '2000000.0', '1200000.0',
       '660000000.0', '120000.0', '7500000.0', '5000000.0', '500000.0',
       '3000000.0', '10000000.0', '145000000.0', '100000000.0',
       '21000000.0', '4000000.0', '20000000.0', '560000.0', '275000.0',
       '4500000.0', '15000000.0', '390000000.0', '7000000.0', '5100000.0',
       '700000000.0', '2300000.0', '700000.0', '19000000.0', '9000000.0',
       '40000000.0', '750000.0', '1500000.0', '7800000.0', '50000000.0',
       '80000000.0', '30000000.0', '1700000.0', '2500000.0', '40000.0',
       '33000000.0', '35000000.0', '300000.0', '25000000.0', '3500000.0',
       '200000000.0', '6000000.0', '1300000.0', '4100000.0', '575000.0',
       '800000.0', '28000000.0', '18000000.0', '3200000.0', '900000.0',
       '250000.0', '4700000.0', '75000000.0', '8000000.0', '121000000.0',
       '55000000.0', '3300000.0', '11000000.0', '16000000.0', '5400000.0',
       '150000000.0', '4200000.0', '22000000.0', '52000000.0',
       '1100000.0', '118000000.0', '1600000.0', '18500000.0',
       '70000000000.0', '800000000.0', '400000000.0', '150000.0',
       '176000000.0', '60000000.0', '470000.0', '240000.0',
       '3000000000.0', '74000000.0', '62000000.0', '2100000.0',
       '500000000.0', '12500000.0', '2200000000.0', '5060000.0',
       '225000000.0', '24700000.0', '7700000.0', '19067328.0',
       '51000000.0', '115000.0', '54000.0', '20000.0', '803146.0',
       '238000.0', '10220000.0', '1020000.0', '12000000.0', '13400000.0',
       '170000000.0', '2900000.0', '543000.0', '90000000.0', '3400000.0',
       '23000000.0', '8090000.0', '1030000.0', '5040000.0', '360000.0',
       '1400000.0', '650000.0', '54000000.0', '42500000.0', '11370000.0',
       '325000.0', '410000.0', '450000.0', '682000.0', '4050000.0',
       '1050000.0', '1080000.0', '4300000.0', '6800000.0', '2110000.0',
       '764000.0', '603000.0', '409000.0', '292000.0', '286000.0',
       '136000.0', '546000.0', '887000.0', '43000.0', '40900.0',
       '2200000.0', '5660000.0', '350000.0', '110000.0', '122000000.0',
       '11635000.0', '2800000.0', '1065000.0', '669000.0', '16076000.0',
       '649600.0', '6700000.0', '220000.0', '266500.0', '2879000.0',
       '26500000.0', '351000.0', '46761000.0', '175000.0', '11241000.0',
       '804000.0', '1340000.0', '467000.0', '133000.0', '3823000.0',
       '934000.0', '293000.0', '198000.0', '927000.0', '971000.0',
       '3060000.0', '1862000.0', '232000.0', '2888000.0', '1328000.0',
       '15500000.0', '56000000.0', '2250000.0', '16753000.0', '3700000.0',
       '1470000.0', '530000.0', '267000.0', '3344000.0', '7200000.0',
       '2743000.0', '6082000.0', '6609000.0', '27700000.0', '5940000.0',
       '3964000.0', '5500000.0', '197000.0', '4327000.0', '459000.0',
       '3937000.0', '1313500.0', '229800.0', '5305000.0', '264000.0',
       '1750000.0', '5967000.0', '2980000.0', '323000.0', '1326000.0',
       '27000000.0', '5200000.0', '2530000.0', '792000.0', '11363000.0',
       '1715000.0', '329000.0', '5271000.0', '8700000.0', '3226000.0',
       '5900000.0', '44000000.0', '3879000.0', '13000000.0', '8800000.0',
       '9500000.0', '920000.0', '35600000.0', '9400000.0', '790000.0',
       '480000.0', '160000.0', '8200000.0', '4257000.0', '1410000.0',
       '349800.0', '786000.0', '2004000.0', '123000000.0', '248000.0',
       '24000000.0', '14259000.0', '24500000.0', '3800000.0',
       '18370000.0', '68525000.0', '4800000.0', '1834000.0', '23850000.0',
       '43000000.0', '21600000.0', '4598000.0', '13137000.0',
       '115000000.0', '3900000.0', '670000.0', '8500000.0', '3148000.0',
       '2600000.0', '4049500.0', '10500000.0', '6500000.0', '43700000.0',
       '13800000.0', '306900.0', '420000.0', '627300.0', '113000000.0',
       '32000000.0', '110000000.0', '1397000.0', '448500.0', '7975700.0',
       '330000.0', '5600000.0', '1402000.0', '21500000.0', '296000000.0',
       '4900000.0', '1402400.0', '12618300.0', '9900000.0', '982530.0',
       '70185200.0', '210000000.0', '84000000.0', '39000000.0',
       '2700000.0', '1403400.0', '105000000.0', '103000000.0', '281300.0',
       '12700.0', '25000.0', '97500000.0', '507000.0', '8400000.0',
       '18300000.0', '125000000.0', '181000.0', '280000.0', '14700000.0',
       '13200000.0', '8043000.0', '$1,200,000', '$51,000,000',
       '$188,000,000', '$700,000', '$9,000,000', '$49,000,000',
       '$300,000', '$160,000,000', '$1,800,000', '$850,000',
       '$53,000,000', '$500,000', '$21,000,000', '$7,500,000',
       '$7,400,000', '$800,000,000', '$17,000,000', '$3,500,000',
       '$215,000,000', '$350,000,000', '$83,000,000', '$110,000,000',
       '$500,000,000', '$65,000,000', '$150,000,000,000', '$300,000,000',
       '$2,200,000', '$140,000,000', '$13,000,000', '$Undisclosed',
       '$2000000', '$800000', '$6000000', '$2500000', '$9500000',
       '$13000000', '$5000000', '$8000000', '$1000000', 'Upsparks',
       '$200000', '$12000000', '$1500000', '$1700000', '$5500000',
       '$400000', '$150000000', '$4000000', '$100000000', '$500000',
       '$15000000', '$10000000', '$40000000', '$225000000', '$6700000',
       '$1300000', '$20000000', '$250000', '$21000000', '$1200000',
       '$52000000', '$3800000', '$17500000', '$42000000', '$2300000',
       '$7000000', '$30000000', '$450000000', '$28000000', '$300000',
       '$3500000', '$8500000', '$25000000', '$3000000', '$37000000',
       '$370000000', '$700000', '$16000000', '$100000', '$44000000',
       '$770000', '$125000000', '$35000000', '$50000000', '$4900000',
       '$145000000', '$22000000', '$70000000', '$6600000', '$32000000',
       '$24000000', '$725000', '$461000', 'Series C', 'Seed', '$96000000',
       '$60000000', '$500000000', '$266000000', '$4500000', '$325000000',
       '$6500000', '$1600000', '$150000', '$225000', '$85000000',
       '$235000', '$260000', '$2900000', '$53000000', '$1100000',
       '$86000000', '$130000', '$$100,00', '$111000000', '$265000',
       '$76000000', '$75,000,000', '$3,800,000', '$1,600,000', '$260,000',
       '$18,000,000', '$350,000', '$95,000,000', '$4,100,000',
       '$5,200,000', '$1,400,000', '$2,600,000', '$16,000,000',
       '$280,000,000', '$14,300,000', '$81,000,000', '$1,300,000',
       '$8,200,000', '$720,000', '$600000', '$9000000', '$1800000',
       '$330000', '$undisclosed', '$200000000', '$36000000', '$67000000',
       '$10200000', '$220000000', '$108000000', '$75000000', '$450000',
       '$660000000', 'ah! Ventures', '$45000000', '$3200000', '$370000',
       'Pre-series A', 'ITO Angel Network, LetsVenture', '$48000000',
       '$3600000', '$11000000', '$192000000', '$65000000', '$1400000',
       '$1900000', '$41000000', '$144000000', '$5200000', '$270000000',
       '$140000', '$250000000', '$320000', '$350000000', '$4800000',
       '$38000000', '$125000', '$26000000', '$64000000', '$620000',
       '$900000', 'JITO Angel Network, LetsVenture', '$2600000',
       '$1,250,000', '$400,000,000', '$1,700,000', '$27,000,000',
       '$234,000,000', '$460,000,000', '$13,500,000', '$5,100,000',
       '$195,000,000', '$125,000', '$45,000,000', '$200,000,000',
       '$7,300,000', '$12,500,000', '$24,000,000', '$16,500,000',
       '$340,000', '$43,000,000', '$3300000', '$92000000', '$17000000',
       '$135000000', '$$1,55,000', '$2100000', '$840000000', '$248000000',
       '$4300000', '$570000', '$2200000', '$4700000', '$300000000',
       '$260000000', '$140000000', '$175000000', '$19000000', '$810000',
       '$7500000', '$600000000', '$90000000', '$5700000', '$6750000',
       '$78000000', '$5400000', '$115000000', '$255000000', '$18000000',
       '$570000000', '$550000', '$2700000', '$4200000', '$31000000',
       '$540000', '$14000000', '$340000', '$', '$6200000', '$750000',
       '$6300000', '$23000000', '$55000000'], dtype=object)

### Stage

In [134]:
data['Stage'].unique()

array(['Seed', 'Series A', 'Angel', 'Series B', 'Pre-Seed',
       'Private Equity', 'Venture - Series Unknown', 'Grant',
       'Debt Financing', 'Post-IPO Debt', 'Series H', 'Series C',
       'Series E', 'Corporate Round', 'Undisclosed',
       'https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593',
       'Series D', 'Secondary Market', 'Post-IPO Equity',
       'Non-equity Assistance', 'Funding Round', nan, 'Fresh funding',
       'Pre series A', 'Series G', 'Post series A', 'Seed funding',
       'Seed fund', 'Series F', 'Series B+', 'Seed round', 'Pre-series A',
       'Pre-seed', 'Pre-series', 'Debt', 'Pre-series C', 'Pre-series B',
       'Bridge', 'Series B2', 'Pre- series A', 'Edge', 'Pre-Series B',
       'Seed A', 'Series A-1', 'Seed Funding', 'Pre-seed Round',
       'Seed Round & Series A', 'Pre Series A', 'Pre seed Round',
       'Angel Round', 'Pre series A1', 'Series E2', 'Seed Round',
       'Bridge Round', 'Pre seed round', 'Pre series B', 'Pre series C',
       'Seed Investment', 'Series D1', 'Mid series', 'Series C, D',
       '$1200000', 'Seed+', 'Series F2', 'Series A+', 'Series B3', 'PE',
       'Series F1', 'Pre-series A1', '$300000', 'Early seed', '$6000000',
       '$1000000', 'Seies A', 'Series A2', 'Series I'], dtype=object)

In [135]:
data['Stage'].isnull().sum()

929

In [136]:
# Dictionary for mapping stages to standardized terms
stage_mapping = {
    r'(?i)^angel$': 'Pre-Seed',
    r'(?i)^seed (funding|fund|round|investment|a|\+)?$': 'Seed',
    r'(?i)^pre[-\s]?seed( round)?$': 'Pre-Seed',
    r'(?i)^pre[-\s]?series[-\s]?a1?$': 'Pre-Series A',
    r'(?i)^pre[-\s]?series[-\s]?a$': 'Pre-Series A',
    r'(?i)^pre- series a$': 'Pre-Series A',
    r'(?i)^pre[-\s]?series[-\s]?b$': 'Pre-Series B',
    r'(?i)^pre[-\s]?series[-\s]?c$': 'Pre-Series C',
    r'(?i)^early seed$': 'Pre-Seed',
    r'(?i)^series a[-\s]?[1+2]?$': 'Series A',
    r'(?i)^series b[-\s]?[+2-3]?$': 'Series B',
    r'(?i)^series c, d$': 'Series C',
    r'(?i)^series d1$': 'Series D',
    r'(?i)^series e2$': 'Series E',
    r'(?i)^series f[1-2]?$': 'Series F',
    r'(?i)^venture - series unknown$': 'Venture',
    r'(?i)^post series a$': 'Post-Series A',
    r'(?i)^non-equity assistance$': 'Other',
    r'(?i)^corporate round$': 'Other',
    r'(?i)^bridge( round)?$': 'Other',
    r'(?i)^private equity$': 'PE',
    r'(?i)^secondary market$': 'Other',
    r'(?i)^debt financing$': 'Debt',
    r'(?i)^post-ipo (debt|equity)$': 'Post-IPO',
    r'(?i)^undisclosed$': 'Other',
    r'(?i)^funding round$': 'Other',
    r'(?i)^fresh funding$': 'Other',
    r'(?i)^mid series$': 'Other',
    r'(?i)^edge$': 'Other',
    r'(?i)^grant$': 'Grant',
    r'(?i)^seies a$': 'Series A',
    r'(?i)^pre[-\s]?series$': 'Pre-Seed',
    r'(?i)^angel round$': 'Pre-Seed',
    r'(?i)^seed round & series a$': 'Seed',
    r'(?i)^series i$': 'Series I'
}

# Applying the mappings using regular expressions
for pattern, replacement in stage_mapping.items():
    data['Stage'] = data['Stage'].str.replace(pattern, replacement, regex=True)

# Replacing numeric and erroneous entries with 'Unknown'
data['Stage'] = data['Stage'].replace(
    r'\$\d+', 'Unknown', regex=True)  # Catch dollar amounts
data['Stage'] = data['Stage'].replace(
    r'https?://\S+', 'Unknown', regex=True)  # Catch URLs

# Handle NaN values
data['Stage'].fillna('Unknown', inplace=True)


data['Stage'].unique()

array(['Seed', 'Series A', 'Pre-Seed', 'Series B', 'PE', 'Venture',
       'Grant', 'Debt', 'Post-IPO', 'Series H', 'Series C', 'Series E',
       'Other', 'Unknown', 'Series D', 'Pre-Series A', 'Series G',
       'Post-Series A', 'Series F', 'Pre-Series C', 'Pre-Series B',
       'Seed+', 'Series I'], dtype=object)

In [137]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2856 entries, 0 to 2878
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  2856 non-null   object
 1   Founded        2856 non-null   int32
 2   HeadQuarter    2856 non-null   object
 3   Sector         2838 non-null   object
 4   What_it_does   2856 non-null   object
 5   Founders       2856 non-null   object
 6   Investor       2856 non-null   object
 7   Amount         2600 non-null   object
 8   Stage          2856 non-null   object
 9   Fund_Year      2856 non-null   int64
dtypes: int32(1), int64(1), object(8)
memory usage: 234.3+ KB

In [138]:
# # Exchange rate for INR to USD in 2018
# INR_to_USD_rate = 68

# # Function to clean and convert amounts
# def convert_amount_2018(amount):
#     amount_str = str(amount)
#     if '₹' in amount_str:
#         amount_value = float(amount_str.replace(
#             '₹', '').replace(',', '').strip())
#         return round(amount_value / INR_to_USD_rate, 2)
#     elif amount_str == '—':
#         return '0'
#     elif '$' in amount_str:
#         return float(amount_str.replace('$', '').replace(',', '').strip())
#     else:
#         return float(amount)

# data_2018['Amount'] = data_2018['Amount'].apply(convert_amount_2018)